# 开发环境配置
server:
  # 服务器的HTTP端口，默认为5014
  port: ${serverPort}
  servlet:
    # 应用的访问路径
    context-path: /api/puzzle/v2
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 10

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto
  type-aliases-package: com.life.jigsaw.domain  # 如果项目没有依赖关系不会扫描多余的包
  # Mapper XML文件所在的路径，MyBatis-Plus会自动扫描
  mapper-locations:
    - classpath*:/mapper/**/*.xml
    - classpath*:/com/iif/**/*.xml

# Spring配置
spring:
  application:
    name: ${applicationName}
  profiles:
    active: dev  # 使用的配置文件
  jpa:
    hibernate:
      ddl-auto: create
  cache:
    type: caffeine # 默认使用caffeine缓存
  datasource:   # 数据源配置
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      # 主库数据源
      master:
        url: ${database.url}
        username: ${database.username}
        password: ${database.password}
        driver-class-name: ${database.driver}
      # 初始连接数
      initialSize: 5
      # 最小连接池数量
      minIdle: 10
      # 最大连接池数量
      maxActive: 30
      # 配置获取连接等待超时的时间
      maxWait: 30000
      # 配置连接超时时间
      connectTimeout: 30000
      # 配置网络超时时间
      socketTimeout: 30000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      # 配置一个连接在池中最大生存的时间，单位是毫秒
      maxEvictableIdleTimeMillis: 900000
      # 配置检测连接是否有效
      validationQuery: SELECT 1
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      webStatFilter:
        enabled: true
      statViewServlet:
        enabled: true
        # 设置白名单，不填则允许所有访问
        allow:
        url-pattern: /druid/*
      filter:
        stat:
          enabled: true
          # 慢SQL记录
          log-slow-sql: true
          slow-sql-millis: 1000
          merge-sql: false
        wall:
          config:
            multi-statement-allow: true
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 500MB
      # 设置总上传的文件大小
      max-request-size: 500MB
  # 邮件配置
  mail:
    host: smtp.qq.com
    port: 465
    username: 980999197@qq.com
    # password从email.properties文件中加载
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true

# PageHelper分页插件
pagehelper:
  supportMethodsArguments: true
  params: count=countSql


# Springdoc配置
springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

swagger:
  enable: ${swaggerEnable}


